	<% unless user_signed_in? %>
	<div class="center hero-unit">
    <h1>Welcome to Greenvidia! </h1>
    <p>Share inspiring images of urban gardens - Especially if the garden belongs to you.
     </p>

    <p> <%= link_to 'Sign Up Now!',  new_user_registration_path , class: "btn btn-large btn-primary" %> </p>
</div>
<% end %>
