	<% unless user_signed_in? %>
	<div class="center hero-unit">
    <h1>Welcome to Greenvidia! </h1> pre-alpha
    <p>We're just getting started so please allow for some mistakes along the way.  As we prepare for our beta release, we encourage you to share inspiring images of urban gardens near you.
     </p>

    <p> <%= link_to 'Sign Up Now!',  new_user_registration_path , class: "btn btn-large btn-primary" %> </p>
</div>
<% end %>
