	<% unless user_signed_in? %>
	<div class="center hero-unit">
    <h2>Welcome to Greenvidia! </h2> <br> The place where urban farmers meet local food businesses.
    
    <p>Sign up to receive project updates and Feel free to share inspiring images of urban gardens near you.   
     </p>

    <p> <%= link_to 'Sign Up Now!',  new_user_registration_path , class: "btn btn-large btn-primary" %> </p>
</div>
<% end %>
