	<% unless user_signed_in? %>
	<div class="center hero-unit">
    <h2>Welcome to Greenvidia! </h2> pre-alpha
    <p></p>
    <p>We're just getting started so please be patient.  In the mean time sign up to receive project updates.  Feel free to share inspiring images of urban gardens near you.
     </p>

    <p> <%= link_to 'Sign Up Now!',  new_user_registration_path , class: "btn btn-large btn-primary" %> </p>
</div>
<% end %>
