<h1>About</h1>
<p> 
	Greenvidia is intended to inspire connections among urban food growers and healthy consumers with the eventual goal of easing localy grown food transactions.
	</p>
	<p>
	Greenvida had its humble beginings at <%= link_to "One Month Rails", "http://onemonthrails.com" %> 
	- a project to teach.
	<%= link_to "Ruby on Rails", "http://rubyonrails.org" %>
	in one month. 
</p>

