<h1>About</h1>
<p> 
	Greenvidia is intended to inspire connections between urban food growers and eventually ease the local food transaction.
	</p>
	<p>
	This project started as a project of <%= link_to "One Month Rails", "http://onemonthrails.com" %> 
	- a project to teach.
	<%= link_to "Ruby on Rails", "http://rubyonrails.org" %>
	in one month. 
</p>

